openapi: 3.1.0
info:
  title: Quorum Land Management DivisionOrders Tracts API
  description: Quorum Land Management API provides access to land records, lease management, tract data, division order information, and document management for upstream oil and gas exploration and production companies. Quorum is a leading provider of software solutions for the upstream oil and gas industry.
  version: 1.0.0
  contact:
    name: Quorum Support
    url: https://community.quorumsoftware.com
  license:
    name: Quorum Software Terms of Service
    url: https://www.quorumsoftware.com/terms-and-conditions/
servers:
- url: https://api.quorumsoftware.com/v1
  description: Quorum API
security:
- oauth2: []
tags:
- name: Tracts
  description: Land tract records
paths:
  /tracts:
    get:
      operationId: listTracts
      summary: List tracts
      description: Returns land tract records with legal description and acreage data.
      tags:
      - Tracts
      parameters:
      - name: leaseId
        in: query
        description: Filter by associated lease
        schema:
          type: string
      - name: state
        in: query
        schema:
          type: string
          maxLength: 2
      - name: county
        in: query
        schema:
          type: string
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Tract list
          content:
            application/json:
              schema:
                type: object
                properties:
                  tracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tract'
                  totalCount:
                    type: integer
components:
  schemas:
    Tract:
      type: object
      description: A land tract with legal description
      properties:
        tractId:
          type: string
        leaseId:
          type: string
        tractNumber:
          type: string
        legalDescription:
          type: string
          description: Full legal land description (section/township/range/meridian)
        section:
          type: string
        township:
          type: string
        range:
          type: string
        meridian:
          type: string
        county:
          type: string
        state:
          type: string
          maxLength: 2
        netAcres:
          type: number
          format: double
        grossAcres:
          type: number
          format: double
        ownershipType:
          type: string
          enum:
          - MINERAL
          - SURFACE
          - ROYALTY
          - WORKING_INTEREST
        latitude:
          type: number
          format: double
          nullable: true
        longitude:
          type: number
          format: double
          nullable: true
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.quorumsoftware.com/oauth2/token
          scopes:
            land.read: Read land management data
            land.write: Write land management data
